body{background-color:cadetblue; font-family:Arial; font-size: 14px;}

table{width:400px; margin:0 auto; background-color:bisque; 

}
th{text-align:left; background-color:aqua;padding:10px;}
table,th,td{border:1px solid #000; ; padding:10px}
.heading{}


























